<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="#"><img src="/image/logo.png" alt="Logo foodfy"></a>
            <ul>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/receitas">Receitas</a></li>
            </ul>
        </nav>
        <header>
            <div class="item-descricao">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos <br>
                    com receitas criadas por profissionais <br> do mundo inteiro.
                </p>
            </div>
            <div class="item-imagem">
                <img src="/image/chef.png" alt="Chef">
            </div>
        </header>
        <section id="conteudo-container">
            <h3>Mais acessadas</h3>
            <div class="card">
                <img src="/image/burger.png" alt="Hamburguer">
                <h3>Triplo bacon burguer</h3>
                <p>por Jorge Relato</p>
            </div>
            <div class="card">
                <img src="/image/pizza.png" alt="Pizza">
                <h3>Pizza 4 estações</h3>
                <p>por Fabiana Melo</p>
            </div>
            <div class="card">
                <img src="/image/espaguete.png" alt="Espaguete">
                <h3>Espaguete ao alho</h3>
                <p>por Júlia Kinoto</p>
            </div>
            <div class="card">
                <img src="/image/lasanha.png" alt="Lasanha">
                <h3>Lasanha mac n' cheese</h3>
                <p>por Juliano Vieira</p>
            </div>
            <div class="card">
                <img src="/image/doce.png" alt="Docinho pão-do-céu">
                <h3>Docinhos pão-do-céu</h3>
                <p>por Ricardo Golvea</p>
            </div>
            <div class="card">
                <img src="/image/asinhas.png" alt="Asinha de Frango">
                <h3>Asinha de frango ao barbecue</h3>
                <p>por Vania Steroski</p>
            </div>
        </section>

    </div>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal"><i class="material-icons">close</i></a>
            <div class="conteudo-modal">
                <img src="" alt="">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
    <footer>
        <p>Todos direitos reservados receitas Foodfy</p>
    </footer>

    <script src="/js/app.js">
        
    </script>
</body>

</html>