<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div class="wrapper">
        <nav>
            <a href="/"><img src="/images/logo.png" alt="Logo foodfy"></a>
            <ul>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/receitas">Receitas</a></li>
            </ul>
        </nav>
        <div id="conteudo-container">
            <section id="sobre">
                <div class="item-sobre">
                    <h2>Sobre o Foodfy</h2>
                    <p>
                        Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo.
                        Aliquam vel lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc.
                        Curabitur eget tincidunt risus. Mauris malesuada facilisis magna, vitae volutpat sapien
                        tristique
                        eu.
                        Morbi metus nunc, interdum in erat placerat, aliquam iaculis massa. Duis vulputate varius justo
                        pharetra
                        maximus.
                        In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis, non dictum metus.
                        Vivamus
                        ligula ex, semper vitae eros ut, euismod convallis augue. <br> <br>
                        Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                        accumsan.
                        Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu
                        ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat.
                        Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci et, malesuada
                        sodales
                        eros. Nunc ut nulla faucibus enim ultricies euismod.
                    </p>
                </div>

                <div class="item-sobre">
                    <h3>Como tudo começou...</h3>
                    <p>
                        Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo.
                        Aliquam
                        vel lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget
                        tincidunt
                        risus. Mauris malesuada facilisis magna, vitae volutpat sapien tristique eu. Morbi metus nunc,
                        interdum
                        in erat placerat, aliquam iaculis massa. Duis vulputate varius justo pharetra maximus. In
                        vehicula
                        enim
                        nec nibh porta tincidunt. Vestibulum at ultrices turpis, non dictum metus. Vivamus ligula ex,
                        semper
                        vitae eros ut, euismod convallis augue. <br> <br>

                        Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                        accumsan.
                        Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu
                        ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat.
                        Praesent
                        euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales
                        eros.
                        Nunc
                        ut nulla faucibus enim ultricies euismod.
                    </p>
                </div>

                <div class="item-sobre">
                    <h3>Nossas receitas</h3>
                    <p>
                        Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                        accumsan.
                        Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu
                        ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat.
                        Praesent
                        euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales
                        eros.
                        Nunc
                        ut nulla faucibus enim ultricies euismod.
                        Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                        accumsan. <br>
                        Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu
                        ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat.
                        Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                        accumsan.
                        Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu
                        ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat.
                        Praesent
                        euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales
                        eros.
                        Nunc
                    </p>
                </div>
            </section>

        </div>

    </div>
    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal"><i class="material-icons">close</i></a>
            <div class="conteudo-modal">
                <img src="" alt="">
                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
    <footer>
        <p>Todos direitos reservados receitas Foodfy</p>
    </footer>

    <script src="../js/app.js">
        
    </script>
</body>

</html>